.diseases-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
}

.doctor-image{
    width: 50%;
    height: 10vh;
}

.diseases-text{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    padding-left: 35px;
}